<div class="product-block">
  <h1>{{model.name}}</h1>
  <div class="product-list">
    <ul class="product-title">
      <li class="name">name</li>
      <li class="qty">qty</li>
      <li class="price">price</li>
    </ul>
    {{#each model.products as |product|}}
      {{my-product product=product}}
    {{/each}}
    <ul class="product-item">
      <li class="name"></li>
      <li class="qty"></li>
      <li class="total-price">
        Total Price <br>
        <b>${{totalPrice}}</b>
      </li>
    </ul>
  </div>
  <div class="addProduct">
    <button {{action "openModal"}}>Add Product</button>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog }}
    <div class="modal">
      <div class="modal-body">
        {{input value = name placeholder='name'}}
        {{input value = qty placeholder='qty' type="number"}}
        {{input value = price placeholder='price' type="number"}}
      </div>
      <div class="modal-footer">
        <button {{action 'create'}} >Save</button>
        <button {{action  'cancel'}}> Cancel</button>
      </div>

    </div>
  {{/modal-dialog}}
{{/if}}