<div class="shops">
  <h1 class="shops__title">Shops</h1>
  <div class="shops__items">
    {{#each model as |shop|}}
      {{my-shop shop=shop}}
    {{/each}}
  </div>
  <div class="addShops">
    <button {{action "openModal"}}>Add Shops</button>
  </div>
</div>
{{#if isShowingModal}}
  {{#modal-dialog }}
    <div class="modal">
      <div class="modal-body">
        {{input value = shopName placeholder='Shop name'}}
        {{#if errorMessage}}
          <div class="error-message">
            Name is required
          </div>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button {{action 'create'}} >Save</button>
        <button {{action  'cancel'}}> Cancel</button>
      </div>

    </div>
  {{/modal-dialog}}
{{/if}}